laravel/vendor/
laravel/node_modules/
laravel/npm-debug.log
laravel/yarn-error.log

# Laravel 4 specific
laravel/bootstrap/compiled.php
laravel/app/storage/

# Laravel 5 & Lumen specific
laravel/public/storage
laravel/public/hot
laravel/storage/*.key
laravel/.env
laravel/Homestead.yaml
laravel/Homestead.json
laravel/.vagrant
